body {
    background-image: url(fondouai.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    background-color: #f0f0f0;
}

.main-container,
.welcome-container {
    text-align: center;
}

h1 {
    color: #d35454;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

p {
    font-size: 1.6em;
    color: #666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    background-color: #ffaea6;
    padding: 14px 40px;
    color: #722e2e;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #b46e63;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    margin-top: 20px;
}

.btn span:last-child {
    display: none;
}

.btn:hover {
    transition: .4s;
    border: 2px dashed #ffaea6;
    background-color: #fff;
    color: #ffaea6;
}

.btn:active {
    background-color: #db9b87;
}


.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
    margin-bottom: 15px;
}

.input {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    background-color: #0056b3;
}
